<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello Webpack</title>
</head>
<body ng-app="app">
	<h1>hello webpack</h1>
	<div ng-controller="main">
		<select ng-model="type" ng-options="type for type in types"></select>
		<label>
			<input type="radio" ng-model="method" value="say">
			Say
		</label>
		<label>
			<input type="radio" ng-model="method" value="think">
			Think
		</label>
		<label>: <input ng-model="text"></label>
		<pre>{{cow( method, type, text)}}</pre>
	</div>
</body>
</html>