<section ng-class="$ctrl.styles.list">
	<h4>
		<editable text="$ctrl.todoList.name"
			      changed="$ctrl.updateName()">
		</editable>
		
	</h4>
	
	<p>display: {{ $ctrl.display }}</p>

	<ul>
		<li ng-repeat="todo in $ctrl.todos">
			<todo-item 
				task="todo.task" 
				done="todo.done"
				update="$ctrl.update(todo)"
				remove="$ctrl.remove(todo.id)"> 
			</todo-item>
		</li>
	</ul>

	<add-new-todo add="$ctrl.add(task)"></add-new-todo>
	<!--<add-new-todo></add-new-todo>-->
	<section ng-if="error">{{error}}</section>
</section>