<h1>hello webpack</h1>

<div ng-controller="main">
	<select ng-model="type" ng-options="type for type in types"></select>
	<label>
		<input type="radio" ng-model="method" value="say">
		Say
	</label>
	<label>
		<input type="radio" ng-model="method" value="think">
		Think
	</label>
	<label>: <input ng-model="text"></label>
	<pre class="cowsay" ng-class="{ koala: type === 'koala' }">{{cow( method, type, text)}}</pre>
</div>

<div ng-controller="counter">
	<button ng-click="count = count + 1" ng-init="count=0">
		Increment
	</button>
	<span>
		count: {{count}}
	</span>
</div>


<div ng-controller="monkeys">
	<h3>{{ monkeys.length }} monkeys</h3>
	<div ng-if="monkeys != null">
		<div ng-init="search = {}">
			<div>
				Name: <input ng-model="search.name">
			</div>
			<div>Type:
				<select ng-model="search.type" ng-options="type.id as type.name for type in types">
					<option value="?">All</option>	
				</select> 
			</div>
		</div>
		{{ search }}
		<ol>
			<li ng-repeat="monkey in monkeys | filter: search">
				{{ monkey.name }} the {{ getType(monkey.type) | uppercase }} 
				<span ng-if='monkey.type === 3'>FTW!</span>
			</li>
		</ol>
	</div>
	<div ng-if="monkeys == null">
		loading...
	</div>
</div>